
############# Static Site .gitignore ############


########## IF PUSHING TO MASTER BRANCH ##########
#        PLEASE DONT FORGET TO .gitignore
#             .scss FILE EXTENSION!
#               e.g. *.scss
#################################################

### Images ###
# Images are uploaded via CDN

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# dotenv environment variables file
.env