$crete: #477F2D;

// Sticky sidebar
aside {
  padding-top: 1rem;
}

aside ul {
  padding-left: 0;
}

aside ul li {
  list-style: none;
  margin-bottom: 10px;
}

aside a:link,
aside a:visited {
  color: black;
}

aside a:hover,
aside a:active,
aside a:focus {
  color: $crete;
  text-decoration: none;
}

.sticky-parent {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
}

// End of Sticky sidebar

.calendar {
  position: relative;
  overflow: hidden;
  height: 60vw;
  width: 100vw;
  
  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

}
