$crete: #477F2D;
// $crete: rgba(71, 127, 45, 0.856);

// body {
//   font-family: 'IBM Plex Sans', sans-serif;
// }

main,
header {
  margin-bottom: 1vh;
}

article {
  margin: 1em 0;
}

section {
  .jumbotron {
    margin-bottom: 1vh;
  }
}

.modal-backdrop {
  z-index: 0;
}

footer {

  a,
  a:hover {
    text-decoration: none;
  }

  a {
    margin: 0.3em 0;
    color: grey;
  }

  a:hover {
    color: $crete;
  }
}

.fixed-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  // padding: 20px 0;
  z-index: 2;

  .logo {
    height: 100px;
  }

  .logo-name {
    color: white;
    font-size: 21pt;
    display: inline-block;
    transform: translateY(40%);
    width: 170px;
    margin-top: 0;
    margin-left: 10px;
    line-height: 1;
  }

  .navbar-link {
    font-weight: bolder;
    // text-shadow: grey 1px 1px;
    text-decoration: none;
    color: white;
    margin: 0 1vw;
    border: none;
  }

  .navbar-link:hover {
    background: $crete;
  }
}

.current-page {
  border-bottom: 5px solid $crete;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  // cursor: default;
}

.current-page:hover,
.current-page:active,
.current-page:focus {
  text-decoration: none;
  color: white;
}

.subpage-tint {
  position: absolute;
  height: 60vh;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.sub-header-image {
  position: relative;

  img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .sub-header-location {
    position: absolute;
    bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
    margin-bottom: 10px;
    color: white;
    border-top: 3px solid white;
    z-index: 1;
  }
}

.btn-info {
  background: white;
  color: $crete;
  border: none;
  font-weight: bolder;

}

.btn-info:hover {
  background: white;
  color: $crete;
}

.three-links {
  background: $crete;

  .flex-links {
    display: flex;
    justify-content: space-around;
    color: white;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18pt;
    padding: 10px;
    text-transform: uppercase;
  }

  button {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18pt;
    padding: 10px;
    text-transform: uppercase;
    border: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.btn-outline-secondary {
  color: $crete;
  border-color: $crete;
  font-weight: bolder;
}

.btn-outline-secondary:hover {
  background: $crete;
  border-color: $crete;
  color: white;
}

.z-index-4 {
  z-index: 4;
}

input.form-control,
textarea.form-control {
  border-color: $crete;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

textarea.form-control:active,
textarea.form-control:focus,
input.form-control:active,
input.form-control:focus {
  border-color: $crete;
}

// Honeypot
#honeypot {
  display: none; /*makes the field not visible to humans*/
}

.alert-danger.email-invalid {
  padding: .25rem;
  margin-bottom: 0;
}

.email-invalid {
  color: red;
}