$crete: #477F2D;
// $crete: rgba(71, 127, 45, 0.856);

// body {
//   font-family: 'IBM Plex Sans', sans-serif;
// }

// .grid-container {
//   display: grid;
//   grid-gap: 1vw;
//   grid-template-columns: 1fr 1.25fr;
//   grid-auto-rows: minmax(200px, 1fr);
//   grid-template-areas:
//         "article picture"
//         "section section";
//   .carousel {
//     grid-column: picture;
//   }
//   >:first-child {
//     grid-column: article;
//   }
//   >:nth-child(1n+3) {
//     grid-column: section;
//   }
// }
section {
  line-height: 200%;
}
.carousel-img {
  width: 40vw;
  float: right;
  top: 0;
  margin-left: 10px;
}
.tooltip-text {
  border-bottom: 1px dotted grey;
  cursor: help;
}