$crete: #477F2D;
$grey: #DEE2E6;
// $crete: rgba(71, 127, 45, 0.856);

// body {
//   font-family: 'IBM Plex Sans', sans-serif;
// }

// .grid-container {
//   display: grid;
//   grid-gap: 1vw;
//   grid-template-columns: 1fr 1.25fr;
//   grid-auto-rows: minmax(200px, 1fr);
//   grid-template-areas:
//         "article picture"
//         "section section";
//   .carousel {
//     grid-column: picture;
//   }
//   >:first-child {
//     grid-column: article;
//   }
//   >:nth-child(1n+3) {
//     grid-column: section;
//   }
// }
section {
  line-height: 200%;
  h4 {
    margin-top: 5vh;
    margin-bottom:0;
  }
  h1, h2, h4 {
    color: $crete;
  }
}
.carousel-img {
  width: 40vw;
  float: right;
  top: 0;
  margin-left: 10px;
}
.tooltip-text {
  border-bottom: 1px dotted grey;
  cursor: help;
}

.blockquote {
  border-left: 5px solid $crete;
  padding-left: 5px;
  max-width: 80%
}

// Sticky sidebar
aside {
  padding-top: 1rem;
}

aside ul {
  padding-left: 0;
}

aside ul li {
  list-style: none;
  margin-bottom: 10px;
}

aside a:link,
aside a:visited {
  color: black;
}

aside a:hover,
aside a:active,
aside a:focus {
  color: $crete;
  text-decoration: none;
}

.sticky-parent {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
}
// End of Sticky sidebar

.principal-photo {
  object-fit: cover;
  height: 50vh;
  float: left;
  margin: 1%;
}