$crete: #477F2D;
@import url('https://fonts.googleapis.com/css?family=Lato');

// Staff Photo Height: 400px

main {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

main {
  background: $crete;
  font-size: 62.5%
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;

  &__title {
    text-transform: uppercase;
    //display: inline-block;
    flex-basis: 10%;

    &--bold {
      font-size: 2em;
      font-weight: bolder;
    }

    &--regular {
      letter-spacing: 0.2rem;
      display: block;
    }
  }

  &__text-box {
    width: 50%;

    &--title {
      font-weight: bolder;
    }
  }
}

//min of 659px
@media screen and (max-width: 659px) {
  .header__text-box {
    width: 100%;
  }

  .orgchart {
    grid-auto-columns: 250px;
  }
}

@media screen and (min-width: 659.98px) {
  .orgchart {
    grid-template: "left middle right";

    > :nth-child(2),
    > :nth-child(3),
    > :nth-child(7),
    #kindergarten3,
    #year2class1,
    #year3class2,
    #year7class1 {
      grid-column: middle;
    }

    > :nth-child(4),
    > :nth-child(8),
    #preschoolA1,
    #year1class1,
    #year4class1,
    #year7class2 {
      grid-column: left;
    }

    .teaching-staff,
    .main-office {
      grid-column: span 3;
    }
  }
}

.info {
  font-size: .75rem;
  font-style: normal;
  text-transform: uppercase;
}

.orgchart {
  display: grid;
  padding: 1rem;
  color: white;
  grid-gap: 1rem;
  justify-content: center;
  text-align: center;

  > :nth-child(1) .main-office--title,
  > :nth-child(n + 2):nth-child(-n + 10) .orgchart__textbox--name {
    background: rgb(198, 117, 3);
  }

  > :nth-child(11) .teaching-staff--title,
  > :nth-child(n + 12):nth-child(-n + 18) .orgchart__textbox--name {
    background: rgb(4, 130, 41);
  }

  > :nth-child(19) .teaching-staff--title,
  > :nth-child(n + 20):nth-child(-n + 26) .orgchart__textbox--name {
    background: rgb(4, 100, 41);
  }

  > :nth-child(27) .teaching-staff--title,
  > :nth-child(n + 28):nth-child(-n + 34) .orgchart__textbox--name {
    background: rgb(1, 56, 89);
  }

  > :nth-child(35) .teaching-staff--title,
  > :nth-child(n + 36):nth-child(-n + 39) .orgchart__textbox--name {
    background: rgb(2, 88, 140);
  }

  > :nth-child(40) .teaching-staff--title,
  > :nth-child(n + 41):nth-child(-n + 42) .orgchart__textbox--name {
    background: rgb(2, 119, 189);
  }

  > :nth-child(43) .teaching-staff--title,
  > :nth-child(n + 44):nth-child(-n + 50) .orgchart__textbox--name {
    background: rgb(72, 61, 139);
  }

  > :nth-child(51) .teaching-staff--title,
  > :nth-child(n + 52):nth-child(-n + 54) .orgchart__textbox--name {
    background: rgb(24, 18, 59);
  }

  &__textbox {
    border: 2px solid darkslategray;
    //color: #ffeead;
    padding-bottom: 0.5rem;

    &--position {
      letter-spacing: 0.1rem;
      padding: 0.5rem 0;

      img {
        height: 200px;
        margin: 0 auto;
        display: block;
      }
    }

    &--name {
      padding: 0 0.5rem;
      font-size: 1rem;
    }
  }

  //end of &__text-box
}

//end of .orgchart

.teaching-staff--title,
.main-office--title {
  margin-top: 10vh;
  border: 2px solid darkslategray;
  font-size: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  text-transform: uppercase;
}

aside {
  margin-top: 10vh;
  padding-top: 1rem;

  ul {
    padding:0;
    margin:0;

    li {
      list-style: none;
      font-size: 1.25rem;
    }
  }
}

aside a:link,
aside a:visited {
  color: white;
}

aside a:hover,
aside a:active,
aside a:focus {
  color: black;
  text-decoration: none;
}

.sticky-parent {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;

  h1,
  h2,
  h3,
  h4 {
    color: white;
  }
}

.whitespace-nowrap {
  white-space: nowrap;
}