@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background: #477F2D;
  font-size: 62.5%;
}

.header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1rem;
}

.header__title {
  text-transform: uppercase;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.header__title--bold {
  font-size: 2em;
  font-weight: bolder;
}

.header__title--regular {
  letter-spacing: 0.2rem;
  display: block;
}

.header__text-box {
  width: 50%;
}

.header__text-box--title {
  font-weight: bolder;
}

@media screen and (max-width: 659px) {
  .header__text-box {
    width: 100%;
  }
  .orgchart {
    grid-auto-columns: 250px;
  }
}

@media screen and (min-width: 659.98px) {
  .orgchart {
    grid-template: "left middle right";
  }
  .orgchart > :nth-child(2),
  .orgchart > :nth-child(3),
  .orgchart > :nth-child(7),
  .orgchart #kindergarten3,
  .orgchart #year2class1,
  .orgchart #year3class2,
  .orgchart #year7class1 {
    grid-column: middle;
  }
  .orgchart > :nth-child(4),
  .orgchart > :nth-child(8),
  .orgchart #preschoolA1,
  .orgchart #year1class1,
  .orgchart #year4class1,
  .orgchart #year7class2 {
    grid-column: left;
  }
  .orgchart .teaching-staff,
  .orgchart .main-office {
    grid-column: span 3;
  }
}

.info {
  font-size: .75rem;
  font-style: normal;
  text-transform: uppercase;
}

.orgchart {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  color: white;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.orgchart > :nth-child(1) .main-office--title,
.orgchart > :nth-child(n + 2):nth-child(-n + 10) .orgchart__textbox--name {
  background: #c67503;
}

.orgchart > :nth-child(11) .teaching-staff--title,
.orgchart > :nth-child(n + 12):nth-child(-n + 18) .orgchart__textbox--name {
  background: #048229;
}

.orgchart > :nth-child(19) .teaching-staff--title,
.orgchart > :nth-child(n + 20):nth-child(-n + 26) .orgchart__textbox--name {
  background: #046429;
}

.orgchart > :nth-child(27) .teaching-staff--title,
.orgchart > :nth-child(n + 28):nth-child(-n + 34) .orgchart__textbox--name {
  background: #013859;
}

.orgchart > :nth-child(35) .teaching-staff--title,
.orgchart > :nth-child(n + 36):nth-child(-n + 39) .orgchart__textbox--name {
  background: #02588c;
}

.orgchart > :nth-child(40) .teaching-staff--title,
.orgchart > :nth-child(n + 41):nth-child(-n + 42) .orgchart__textbox--name {
  background: #0277bd;
}

.orgchart > :nth-child(43) .teaching-staff--title,
.orgchart > :nth-child(n + 44):nth-child(-n + 50) .orgchart__textbox--name {
  background: darkslateblue;
}

.orgchart > :nth-child(51) .teaching-staff--title,
.orgchart > :nth-child(n + 52):nth-child(-n + 54) .orgchart__textbox--name {
  background: #18123b;
}

.orgchart__textbox {
  border: 2px solid darkslategray;
  padding-bottom: 0.5rem;
}

.orgchart__textbox--position {
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

.orgchart__textbox--position img {
  height: 200px;
  margin: 0 auto;
  display: block;
}

.orgchart__textbox--name {
  padding: 0 0.5rem;
  font-size: 1rem;
}

.teaching-staff--title,
.main-office--title {
  margin-top: 10vh;
  border: 2px solid darkslategray;
  font-size: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=our-team.css.map */